@charset "UTF-8";
/* line 64, common/*.png */
.common-sprite {
  background-image: url('../../css/sp/common-s49b951fe7a.png');
  background-repeat: no-repeat;
}

/* line 5, ../../sass/_base.scss */
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 14, ../../sass/_base.scss */
.ct {
  margin: 0 auto;
}

/* line 17, ../../sass/_base.scss */
.fl {
  float: left;
}

/* line 20, ../../sass/_base.scss */
.fr {
  float: right;
}

/* line 24, ../../sass/_base.scss */
.vblock, .vshow {
  display: block;
}

/* line 27, ../../sass/_base.scss */
.hidden, .vhidden {
  display: none;
}

/* line 30, ../../sass/_base.scss */
ul {
  list-style-type: none;
}

/**以上是一些通用基类样式**/
/* line 39, ../../sass/_base.scss */
body {
  font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}
/* line 41, ../../sass/_base.scss */
body .modal-backdrop, body .modal-backdrop.fade.in {
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 48, ../../sass/_base.scss */
.text-color-white {
  color: white;
}

/* line 53, ../../sass/_base.scss */
.pg-login .btn-default {
  color: white;
}

/* line 58, ../../sass/_base.scss */
.pg-common {
  position: relative;
}
/* line 62, ../../sass/_base.scss */
.pg-common header .navbar-header a {
  display: block;
  padding: 0 12px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-decoration: none;
}
/* line 67, ../../sass/_base.scss */
.pg-common header .navbar-header a i {
  font-size: 32px;
  margin-right: 10px;
}
/* line 73, ../../sass/_base.scss */
.pg-common header .dropdown-menu a {
  color: #333;
}
/* line 77, ../../sass/_base.scss */
.pg-common header a {
  color: white;
}
/* line 81, ../../sass/_base.scss */
.pg-common footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}
/* line 90, ../../sass/_base.scss */
.pg-common .uiguide-nav li.active a {
  background-color: #f5f5f5;
}
/* line 94, ../../sass/_base.scss */
.pg-common .panel .panel-body {
  padding: 15px 0 0 0;
}
/* line 96, ../../sass/_base.scss */
.pg-common pre {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0;
}
/* line 100, ../../sass/_base.scss */
.pg-common pre .hljs {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}
/* line 108, ../../sass/_base.scss */
.pg-common .mc-workflow {
  float: left;
}
/* line 110, ../../sass/_base.scss */
.pg-common .mc-workflow > div {
  _zoom: 1;
}
/* line 112, ../../sass/_base.scss */
.pg-common .mc-workflow > div:after {
  display: block;
  clear: both;
  content: '.';
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* line 113, ../../sass/_base.scss */
.pg-common .mc-workflow > div > div {
  float: left;
  position: relative;
  width: 50px;
  height: 50px;
}
/* line 118, ../../sass/_base.scss */
.pg-common .mc-workflow > div > div.mc-workflow__middle {
  width: 86px;
}
/* line 122, ../../sass/_base.scss */
.pg-common .mc-workflow > div > div.mc-workflow__middle.grey .btn {
  cursor: default;
  background-color: #eceff1;
  border-color: #cfd6db;
  color: black;
  height: 30px;
}
/* line 131, ../../sass/_base.scss */
.pg-common .mc-workflow > div > div.mc-workflow__middle.light .btn {
  background-color: #8fbe62;
}
/* line 136, ../../sass/_base.scss */
.pg-common .mc-workflow .grey .fa {
  color: #cfd6db;
}
/* line 139, ../../sass/_base.scss */
.pg-common .mc-workflow .none .fa {
  display: none;
}
/* line 142, ../../sass/_base.scss */
.pg-common .mc-workflow .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0ad4e;
  font-size: 26px;
}
/* line 149, ../../sass/_base.scss */
.pg-common .mc-workflow .mc-btn--special {
  white-space: normal;
  position: absolute;
  padding: 4px;
  width: 100%;
  height: 50px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
/* line 159, ../../sass/_base.scss */
.pg-common .mc-btn--special {
  display: block;
}
/* line 161, ../../sass/_base.scss */
.pg-common .mc-btn--special .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #d9534f;
  color: white;
}

/* line 170, ../../sass/_base.scss */
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  background-image: -webkit-linear-gradient(top, #f2dede 0, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

/*login-page*/
/* line 185, ../../sass/_base.scss */
.login-area {
  height: 200px;
}

/* line 189, ../../sass/_base.scss */
.login-icon {
  width: 200px;
  height: 200px;
}

/* line 192, ../../sass/_base.scss */
.login-form {
  margin-top: 20px;
  padding: 24px 23px 20px;
  position: relative;
  background-color: #eceff1;
  color: #bfc9ca;
  border-radius: 6px;
}
/* line 199, ../../sass/_base.scss */
.login-form .form-control, .login-form .btn {
  border: 0;
}

/*page-head*/
/* line 205, ../../sass/_base.scss */
.ph-content {
  color: #d9534f;
  font-size: 24px;
}

/* line 206, ../../sass/_base.scss */
.ph-title {
  color: #999;
  font-size: 16px;
}

/*form*/
/* line 209, ../../sass/_base.scss */
.mc-form-group {
  float: left;
  padding-left: 15px;
}
/* line 212, ../../sass/_base.scss */
.mc-form-group label {
  width: 70px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}
/* line 218, ../../sass/_base.scss */
.mc-form-group .form-control {
  width: 200px;
  float: left;
}
/* line 222, ../../sass/_base.scss */
.mc-form-group .select2-container .select2-choice {
  height: 34px;
  padding-top: 4px;
}
/* line 226, ../../sass/_base.scss */
.mc-form-group .btn {
  margin-left: 80px;
  width: 200px;
}

/* line 232, ../../sass/_base.scss */
.modal-body .mc-form-group {
  margin-left: 30px;
}
/* line 234, ../../sass/_base.scss */
.modal-body .mc-form-group .form-control {
  width: 500px;
}
/* line 237, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub {
  float: left;
  width: 566px;
}
/* line 240, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub > div {
  float: left;
  margin-bottom: 5px;
}
/* line 244, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub label {
  font-weight: normal;
  width: 44px;
  margin-right: 0;
}
/* line 249, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub .form-control {
  width: 200px;
  margin-right: 10px;
}
/* line 253, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub .fa {
  font-size: 20px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 6px;
}
/* line 259, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub .fa-plus-circle {
  color: #286090;
}
/* line 262, ../../sass/_base.scss */
.modal-body .mc-form-group .mc-form-group-sub .fa-minus-circle {
  color: #a94442;
}

/* line 268, ../../sass/_base.scss */
.select2-container.form-control {
  padding: 0;
  border: 0;
}

/* line 273, ../../sass/_base.scss */
.grid-table a {
  text-decoration: none;
}
/* line 275, ../../sass/_base.scss */
.grid-table a .fa {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 5px;
}
/* line 280, ../../sass/_base.scss */
.grid-table a .fa-caret-right {
  margin-right: 0;
}

/*easy-tree*/
/* line 287, ../../sass/_base.scss */
.pg-common .easy-tree {
  background-color: white;
  color: #286090;
}

/* line 288, ../../sass/_base.scss */
.pg-common .easy-tree > ul {
  padding-left: 0;
}

/* line 289, ../../sass/_base.scss */
.pg-common .easy-tree li {
  padding: 10px 0 0;
}

/* line 290, ../../sass/_base.scss */
.pg-common .easy-tree li::before {
  border-color: #286090;
}

/* line 291, ../../sass/_base.scss */
.pg-common .easy-tree li::after {
  border-color: #286090;
}

/* line 292, ../../sass/_base.scss */
.pg-common .easy-tree li > span {
  border-color: #286090;
}

/* line 293, ../../sass/_base.scss */
.pg-common .easy-tree li > span > a {
  color: #286090;
}

/* line 295, ../../sass/_base.scss */
.pg-common .easy-tree li.li_selected > span:hover, .pg-common .easy-tree li.li_selected > span:hover > a {
  background-color: #5CACEE;
  color: white;
}

/* line 296, ../../sass/_base.scss */
.pg-commom .easy-tree li.li_selected > span, .pg-common .easy-tree li.li_selected > span {
  background-color: #5CACEE;
  color: white;
}

/* line 297, ../../sass/_base.scss */
.pg-common .easy-tree li.li_selected > span, .pg-common .easy-tree li.li_selected > span > a {
  background-color: #5CACEE;
  color: white;
}

/* line 298, ../../sass/_base.scss */
.pg-common .easy-tree li.parent_li > span:hover, .pg-common .easy-tree li.parent_li > span:hover + ul li span {
  color: white;
}

/* line 299, ../../sass/_base.scss */
.pg-common .easy-tree li.parent_li > span:hover > a, .pg-common .easy-tree li.parent_li > span:hover + ul li span > a {
  color: white;
}

/* line 300, ../../sass/_base.scss */
.pg-common .easy-tree li.parent_li > span:hover + ul li.li_selected > span {
  background-color: #5CACEE;
  color: white;
}

/* line 301, ../../sass/_base.scss */
.pg-common .easy-tree li.parent_li > span:hover + ul li.li_selected > span .glyphicon {
  background-color: #5CACEE;
  color: white;
}

/* line 6, ../../sass/themes/theme-crm.scss */
.pg-login {
  background-color: #0A6FA1;
}
/* line 8, ../../sass/themes/theme-crm.scss */
.pg-login .btn-default {
  background-color: #0A6FA1;
}
/* line 10, ../../sass/themes/theme-crm.scss */
.pg-login .btn-default:hover, .pg-login .btn-default:focus {
  background-color: rgba(10, 111, 161, 0.49);
}
/* line 14, ../../sass/themes/theme-crm.scss */
.pg-login .login-icon {
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

/* line 22, ../../sass/themes/theme-crm.scss */
.pg-common header {
  background-color: #0A6FA1;
  border-color: #0A6FA1;
}
/* line 26, ../../sass/themes/theme-crm.scss */
.pg-common header a:hover, .pg-common header a:focus {
  background-color: #0A6FA1;
}
/* line 30, ../../sass/themes/theme-crm.scss */
.pg-common header .nav .open > a, .pg-common header .nav .open > a:focus, .pg-common header .nav .open > a:hover {
  background-color: #0A6FA1;
}
/* line 34, ../../sass/themes/theme-crm.scss */
.pg-common header .dropdown-menu li a:hover, .pg-common header .dropdown-menu li a:focus {
  background-color: #0A6FA1;
  color: white;
  background-image: none;
}
/* line 41, ../../sass/themes/theme-crm.scss */
.pg-common footer {
  background-color: #0A6FA1;
  border-color: #0A6FA1;
}
.wrap { width: 100%; height: 100%; }
.left-inner { float: left; width: 200px; height: 100%; margin-left: -100%; }
.main { float: left; width: 100%; height: 100%; }
.main-inner { margin-left: 200px; height: 100%;}

.todo-search {
  position: relative;
  background: #337ab7;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 19px 25px 20px;
}
.breadcrumb a,.nav-tabs>li.active>a{
 color: #495B79!important;
}
.nav-tabs>li>a{
    color:#555;
}
.footer-center{
  text-align: center;
}
#refusInfo{padding: 0;}
#refusInfo li{    width: 40%;
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(40, 164, 201);
  border-radius: 4px;
  margin: 10px 26px;
  padding: 5px 0;
  cursor: pointer;}
#refusInfo li:hover,#refusInfo li.active{background: rgb(25, 115, 142);}
.tool-title{
  margin: 0;
}
.tool-desc{
  margin-left: 10px;
}
.ml10{
  margin-left: 10px;
}
.webui-popover-content .price_list{
  padding: 0;
  marign:0;
}
.webui-popover-content .price_list li{
  border-bottom: 1px solid #E8E8E8;
  padding: 3px 10px;
  margin-right: 0!important;
}
.webui-popover-content .price_list li:hover{
  background: #F3F3F3
}
.price_list .mc_price{
  margin-right: 10px;
  display: inline-block;
  color: #181818;
}
.price_list .mc_area{
    color: #1E7DCE;
}
.webui-popover-content .price_list .mc_price{
  width: 60px;
  display: inline-block;
  color:#181818;
}
.webui-popover-content .price_list .mc_area{

}
.webui-popover-content{
  padding: 5px 0 0!important;
}
.price_info>.price_list{
  margin-bottom: 0;
}
.price_info>.price_list>li{
  display: inline;
  border-radius: 5px;
  padding: 2px 8px;
  background: whitesmoke;
}
.price_info>.price_list>.lg3hide{
  display: none;
}
.table-hover>tbody>tr:hover .price_info>.price_list>li{
  background: #fff;
}

.showThredMenu:hover>.dropdown-menu {
   display: block !important;
}
.level2menu{
  background: #fff !important;
  color:#000 !important;
}
.level2menu:hover{
  background-color: #34495E !important;
  color: white !important;
  background-image: none;
}