<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head"></head>
<body>
	<div th:replace="include/common"></div>

	<style media="screen">
.opts {
	margin: 0 6px;
	cursor: pointer;
}

.opts_disagree {
	color: red
}

.btn-sch {
	background-color: #4ec7ff;
	color: #fff
}

.apart {
	background: rgba(129, 214, 247, 0.12)
}

.form-group .control-label {
	text-align: right;
}

.form-group.mc-form-group .input-group {
	width: 90px !important;
}

.input80 {
	width: 80px !important;
	z-index: 0 !important;
}

.mc-form-group .btn {
	width: inherit;
	margin-left: 0
}

.row {
	display: flex;
	align-items: center;
}

<
style media ="screen ">.opts {
	margin: 0 6px;
	cursor: pointer;
}

.opts_disagree {
	color: red
}

.btn-sch {
	background-color: #4ec7ff;
	color: #fff
}

.ssuinfo {
	color: rgb(0, 102, 255)
}

.outer-table .pop-table {
	position: fixed;
	display: none
}

.pop-table {
	margin-bottom: 3px !important
}

.pop-table tr td:nth-of-type(odd) {
	background-color: #f3f2f2;
	color: #000;
}

.mc-form-group .btn {
	width: inherit;
	margin-left: 0
}

<
style>.category {
	margin-right: 20px;
	width: 200px !important;
}

input[readonly] {
	background: #fff !important;
	width: 144px !important;
}

select.form-control {
	width: 120px !important;
}

.detail-view thead {
	background: #e8e8e8;
}

.form .form-group, .form .checkbox-inline {
	margin: 0 0 20px 20px;
}
</style>
	<div class="wrap">
		<div class="main">
			<section id="ui-search-area">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<form role="form" class="form form-inline">
							<div class="form-group type type-class">
								<label class="control-label">取</label> <select
									class="form-control" id="class1_select"></select> <label
									class="control-label">过去</label> <select class="form-control"
									name="select_data_days" id="select_data_days">
									<option value="1">1天</option>
									<option value="2">2天</option>
									<option value="3">3天</option>
									<option value="4">4天</option>
									<option value="5">5天</option>
									<option value="6">6天</option>
									<option value="7">7天</option>
									<option value="8">8天</option>
								</select> <select class="form-control" name="select_research_type"
									id="select_research_type">
									<option value="1">下单量</option>
									<option value="2">下单商户数</option>
									<option value="3">下单金额</option>
								</select> <label class="control-label">之和排名TOP前</label> <input
									type="text" class="form-control" id="sku-data_percent"
									placeholder="请输入一个整数"> <label class="control-label">的SKU作为进价必调商品</label>
							</div>

							<div class="form-group">
								<button id="search-index" type="button" class="btn btn-info"
									style="margin-left: 20px">设置一级分类必调商品</button>
								<!--   <button id="export-index" type="button" class="btn btn-success">导出</button>  -->
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- table -->
			<section>
				<table id="table-index"></table>
			</section>
		</div>
	</div>

	<!-- Modal Set Start -->
	<div class="modal fade" id="modal-profit-info" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog" style="width: 1000px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 id="modalTitle" class="modal-title">查看采购单</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" role="form"></form>
					<table class="table table-bordered table-tr-info"
						style="margin-bottom: 15px; text-align: center;">
						<thead>
							<tr>
								<td>一级分类</td>
								<td>操作时间</td>
								<td>操作人</td>
							</tr>
						</thead>
						<tbody>
							<tr class="tr-data"></tr>
						</tbody>
					</table>
					<table id="modal-table"></table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default modal-btn-close"
						data-dismiss="modal" aria-label="Close">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Set End -->

	<script type="text/javascript">
(function(){
    var tableIndex = $("#table-index");
    var searchIndex = $("#search-index");
    var searchType = $("#select-search-type");
    var profitInfo = $("#modal-profit-info");
    var columns = [
        {
            field: 'class1Name',
            title: '一级分类',
            align: 'center'
        }, {
            field: 'dataDays',
            title: '时间',
            align: 'center'
        }, {
            field: 'researchType',
            title: '经营字段',
            align: 'center',
            formatter : function(v, row) {
    				var researchType = row.researchType;
    				var str = '-';
    				switch (researchType) {
    				case 1:
    					str = '下单量';
    					break;
    				case 2:
    					str = '下单商户数';
    					break;
    				case 3:
    					str = '下单金额';
    					break;
    				}
    				return str;
    			}
        }, {
            field: 'dataPercent',
            title: '取值数量',
            align: 'center'
        }, {
            field: 'uTStr',
            title: '操作时间',
            align: 'center'
        }, {
            field: 'userName',
            title: '操作人',
            align: 'center'
        }, {
            title: '操作',
            align: 'center',
            formatter: function(v, row){
                return `<a class="profit-info-view" data-info="${row.class1Id},${row.dataType}" data-tr="${row.class1Name},${row.uTStr},${row.userName}">查看必调商品</a>`
            }
        }
    ];
    
    
    $(document).on('cityIdGot',function () {
    	initClass();    	
        tableIndex.bootstrapTable({columns:columns});
        queryClassConfig();
    });

    layer.config({extend: 'extend/layer.ext.js'}); 
    
    searchIndex.on('click',function() {    	
    	
    	 if($("#class1_select").val() == ''){
             layer.msg('请选择一级分类');
             return;
         }
    	 if(!$("#sku-data_percent").val().match(/^\+?[0-9][0-9]*$/) || $("#sku-data_percent").val() == ""){
    		 layer.msg('请重新输入TOP前x的数据');
             return;
    	}
    	 $.ajax({
             type: "POST",
             url: '/research/classconfig/insertClassConfigInfo',
             contentType: 'application/json;charset=UTF-8',
             dataType:"json",
             data:JSON.stringify({
            	 class1Id:$("#class1_select").val(),
            	 dataDays:$("#select_data_days").val(),
            	 dataType:1,
            	 topxNumber:$("#sku-data_percent").val(),
            	 researchType:$("#select_research_type").val()
             }),             
             success: function(datas){
                 if (datas.data == 1) {
                     layer.alert('保存成功.');
                     queryClassConfig(); 
                 } else {
                     layer.msg('操作失败',{icon:5});
                     queryClassConfig();
                 }

             },
             dataType: 'json'
         });      

			})
   
   function queryClassConfig(){  
            tableIndex.bootstrapTable('destroy').bootstrapTable({
                columns: columns,
                uniqueId: 'id',
                url: '/research/classconfig/getClassConfigInfo',
                queryParamsType: '',
                pagination: true,
                sidePagination: 'server',
                method: 'post',
                pageSize: 40,
                pageList: [20, 40, 60, 80],
                paginationPreText: "上一页",
                paginationNextText: "下一页",
                paginationFirstText: "首页",
                paginationLastText: "尾页",
                queryParams: queryParams,
                responseHandler: function (res) {
                    if (res.data) {
                    	return res.data
                    } else {
                    	return [];
                    }
                }
            })
            theadOnTop(tableIndex);       
    };
    function queryParams(params) {
        params.dataType = 1;        
        return params;
    }
    tableIndex.on('click', '.profit-info-view', function(){
        var dataInfo = $(this).data('info').split(',');
        var dataTr = $(this).data('tr').split(',');
        var tds = '';
        for(let x = 0, len = dataTr.length; x < len; x++)
            tds += `<td>${dataTr[x] || ''}</td>`;
        $('.tr-data').html(tds);
        /*
        $.ajax({
            method:"post",
            url:"/research/classconfig/getSkuInfoParamsInPage",
            contentType: 'application/json;charset=UTF-8',
            dataType:"json",
            data:JSON.stringify( {
            	class1Id: dataInfo[0],
            	dataType: dataInfo[1]
            }),
            success:function(res){
                if(res.data){
                	initModalTable(res.data);
                    profitInfo.modal('show');                   
                }else{
                	initModalTable([]);
                    profitInfo.modal('show');
                }
            }
        });
        */
    	initModalTable(dataInfo);
        profitInfo.modal('show'); 
    });
    searchType.on('change', function(){
        var typeClass = '.type-' + $(this).find(':selected').data('type');
        $(this).parent().siblings('.type').hide().siblings(typeClass).show();
    });

    function initModalTable(dataInfo){
        $("#modal-table").bootstrapTable('destroy').bootstrapTable({

            uniqueId:'id',
            columns:[{
                field: 'articleName',
                title: '通用名',
                align: 'center'
            },{
                field: 'skuId',
                title: 'SKU-ID',
                align: 'center'
            }, {
                field: 'skuName',
                title: 'SKU名称',
                align: 'center'
            }, {
                field: 'skuFormat',
                title: '规格',
                align: 'center'
            }, {
                field: 'unitName',
                title: '单位',
                align: 'center'
            }],
            url: '/research/classconfig/getSkuInfoParamsInPage',
            queryParamsType: '',
            pagination: true,
            sidePagination: 'server',
            method: 'post',
            pageSize: 10,
            pageList: [10, 20, 30, 40],
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationFirstText: "首页",
            paginationLastText: "尾页",
            queryParams: function (params){
            	params.class1Id = dataInfo[0];
            	params.dataType = dataInfo[1];
            	return params;
            },
            responseHandler: function (res) {
                if (res.data) {
                	return res.data
                } else {
                	return [];
                }
            }
        });
    }

    function checkProfit(){
        var flag = true;
        var mnp = $("#min-profit").val();
        var mxp = $("#max-profit").val();
        if(!/^[0-9]+(\.\d{0,3}){0,1}$/.test(Number(mnp)) || mnp > 100){
            layer.tips('百分比为0-100之间的数字,保留三位小数(不含0)', '#min-profit', {
                tips: [3, '#0FA6D8'], tipsMore:true
            });
            flag = false;
        }
        if(!/^[0-9]+(\.\d{0,3}){0,1}$/.test(Number(mxp)) || mxp > 100){
            layer.tips('百分比为0-100之间的数字,保留三位小数(不含0)', '#max-profit', {
                tips: [3, '#0FA6D8'], tipsMore:true
            });
            flag = false;
        }
        return flag;
    }
 
   
 // 一级分类
	function initClass() {
		var cls1option = '<option value="">请选择一级分类</option>';
		var cls2option = '<option value="">请选择二级分类</option>';
		var cls3option = '<option value="">请选择三级分类</option>';
		var cls1 = $("#class1_select").append(cls1option);
		var cls2 = $("#class2_select").append(cls2option);
        var cls3 = $("#class3_select").append(cls3option);
        $.ajax({
			//headers: {header_city_id: $('#header_city_id').val()},
			method : 'post',
			url :makeUpPublicUrl('/retailprice/public/getClass1'),
            xhrFields:{
	           withCredentials:true
            },      
			//url : '/pricemonitor/public/getClass1',
			//contentType : 'application/json',
			data : {},
			dataType : 'json',
			success : function(json) {
				if (json.error_code == 0) {
					var str = cls1option;
					$.each(json.data, function(i, item) {
						str += "<option value=" + item.id + ">" + item.name
								+ "</option>";
					});
					cls1.html(str).on('change', function() {
						if (cls1.find(':selected').val() == '') {
							cls2.html(cls2option).val('');
						} else {
							//getClass2(cls1.val());
						}
						cls3.html(cls3option).val('');
					});
				} else {
					layer.alert(json.message || '操作失败。');
				}
        }
    });


    function getClass2(id){
        $.ajax({
			//headers: {header_city_id: $('#header_city_id').val()},
			method : 'post',
			url :makeUpPublicUrl('/retailprice/public/getChildClassPublic'),
            xhrFields:{
                withCredentials:true
            },        
			//url : '/pricemonitor/public/getChildClass',
			//contentType : 'application/json',
			data : {
				parentId : id
			},
			dataType : 'json',
			success : function(json) {
				if (json.error_code == 0) {
					var str = cls2option;
					$.each(json.data, function(i, item) {
						str += "<option value=" + item.id + ">"
								+ item.name + "</option>";
					});
					cls2.html(str).on('change', function() {
						if (cls2.find(':selected').val() == '') {
							cls3.html(cls3option).val('');
						} else {
							//getClass3(cls2.val());
						}
					});
				} else {
					layer.alert(json.message || '操作失败。');
				}
			}
        });
    }

    function getClass3(id){
        $.ajax({
			//headers: {header_city_id: $('#header_city_id').val()},
			method : 'post',
			url :makeUpPublicUrl('/retailprice/public/getChildClassPublic'),
            xhrFields:{
                withCredentials:true
            },        
			//url : '/pricemonitor/public/getChildClass',
			//contentType : 'application/json',
			data : {
				parentId : id
			},
			dataType : 'json',
			success : function(json) {
				if (json.error_code == 0) {
					var str = cls3option;
					$.each(json.data, function(i, item) {
						str += "<option value=" + item.id + ">"
								+ item.name + "</option>";
					});
					cls3.html(str);
				} else {
					layer.alert(json.message || '操作失败。');
				}
			}
		});
	}
}    
})();
</script>